<div class="mz-sidebar" id="mz-sidebar" [ngClass]="{'mz-toggleMenu': shareDataService.getSideMenuStatus()}">

  <div class="mz-logo">
    <h2>
      <i class="uil uil-airplay"></i>
      Mohamed
    </h2>
  </div>
  <div class="mz-sidebar-menu">
    <ul>
      <li>
        <i class="uil uil-dashboard"></i>
        <span>Dashboard</span>
      </li>
      <li>
        <i class="uil uil-clipboard-notes"></i>
        <span>Projects</span>
      </li>
      <li>
        <i class="uil uil-chart-bar"></i>
        <span>Charts</span>
      </li>
      <li>
        <i class="uil uil-calendar-alt"></i>
        <span>Calendar</span>
      </li>
      <li>
        <i class="uil uil-shopping-bag"></i>
        <span>Orders</span>
      </li>
      <li>
        <i class="uil uil-clipboard-notes"></i>
        <span>Tasks</span>
      </li>
      <li>
        <i class="uil uil-user-circle"></i>
        <span>Account</span>
      </li>
      <li>
        <i class="uil uil-signin"></i>
        <span>Logout</span>
      </li>
    </ul>
  </div>
</div>
